
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Details</title>
</head>
<body>
    <header class="back">
        <a href="http://localhost:3000" >
            <img src="/imgs/pokedexlogo.png" style="width: 140px;height: 50px">
        </a>
    </header>
    <div> 
        <% pokedex.forEach(itemPokedex => { %>
            <a href=" <% itemPokedex.details %>"  target="_blank" >
            <img src="<%= itemPokedex.image %>" class="pokemonIndex" alt="registered-Pokemon"/>
            </a>
            <p><%= "Name: " + itemPokedex.name %></p>
            <p><%= "Type: " + itemPokedex.type %></p>
            <% }) %>
    </div>

</body>
<script src="/views/script.js"></script>
