
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Pokédex</title>
  </head>
  <body>
    <main>
      <header>
        <div>
          <h1>
            <a href="/">
              <img
                src="https://fontmeme.com/permalink/210929/59bf17694e10bfbda1073b3f7321d1e9.png"
                alt="pokedexlogo"
              />
            </a>
          </h1>
        </div>
        <div id="contents1">
          <a href="/details" >
            <img
              src="/imgs/pokeballClosed.png"
              id="pokeball1"
              onmouseover="this.src='/imgs/pokeballOpen.png'"
              onmouseout="this.src='/imgs/pokeballClosed.png'"
              alt="closed-pokeboll"
            />
          </a>
          <a href="/register">
            <img
              src="/imgs/pokedexx.png"
              id="pokedex"
              onmouseover="this.src='/imgs/pokedexx2.png'"
              onmouseout="this.src='/imgs/pokedexx.png'"
              alt="open-pokeball"
            />
          </a>
        </div>
        <div class="description">
          <img src="https://fontmeme.com/permalink/210930/eb1d38e16342ae6405bdc428e70e1312.png">
          <img src="https://fontmeme.com/permalink/210930/83e50e863259698fe2cf590b7b9e9d16.png" >
        </div>
      </header>
      <section id="pokemons">
        <% pokedexInput.forEach(itemPokedex => { %>
          <a href="/details/<%= itemPokedex.numero %>"  target="_blank" >
        <img src="<%= itemPokedex.image %>" class="pokemonIndex" alt="registered-Pokemon"/>
      </a>
        <p><%= "Name: " + itemPokedex.name %></p>
        <p><%= "Type: " + itemPokedex.type %></p>
        <% }) %>
      </section>
    </main>
  </body>
  <script src="/views/script.js"></script>
</html>
