
body {
  font-family: VT323, monospace;
  background: rgb(117, 20, 20);
  text-align: center;
  text-shadow: 2px 2px #461111, 1px 1px #332828;
}

#contents1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#pokedex {
  width: 230px;
  height: 205px;
}
#pokedex:hover {
  transform: scale(1.2);
}
#pokeball1 {
  width: 220px;
  height: 220px;
}
#pokeball1:hover {
  transform: scale(1.2);
}

.pokemonIndex {
  width: 150px;
  height: 150px;
}

#inputNome {
  width: 200px;
}

section#message {
  padding: 1.5rem;
  background-color: rgb(197, 255, 214);
  color: #004d04;
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

span#close {
  font-size: 2rem;
  cursor: pointer;
  transition: .3s;
}

span#close:hover{
  color: rgb(255, 0, 0);
  transform: scale(1.5);
}

.back {
  display: flex;
}

.pokemonIndex {
  border: 2px solid black;
  border-radius: rounded;
}

.description {
  display: flex;
  height: 50px;
  width: 100px;
  gap: 100px;
  justify-content:center;
  position: relative;
  margin:0 auto;
}

